@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well well-sm"><h2>Fairfax QA Photo-World Admin</h2></div>

<div class="list-group">
     <a href="~/GalleryType/Index" class="list-group-item"><div style="color:#808080" class="glyphicon glyphicon-folder-open">&nbsp;</div><b>Gallery Type Management -</b> <i class="text-muted">Specify the gallery type E.g. Nature, Water, Sky etc.</i></a>
    <a href="~/Gallery/Index" class="list-group-item"><div style="color:#808080" class="glyphicon glyphicon-folder-open">&nbsp;</div><b>Gallery Management -</b><i class="text-muted"> Manage the Galleries for different galleries types.</i></a>
    <a href="~/Picture/Index" class="list-group-item"><div style="color:#808080" class="glyphicon glyphicon-folder-open">&nbsp;</div><b>Gallery Pictures Management -</b><i class="text-muted"> Manage the pictures in dffierent galleries.</i></a>
</div>