
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="well well-sm"><h2>About Us</h2></div>

<p>
    This is a pilot project for poeple who want to download some awsome pictures of anything. This is world best images collections with high resolution. We are group of photographres who travel around the world and take pictures of anything we find interesting.
</p>